
.OrderShelfContainer {
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(200px, auto);
    background-color: lightblue;
    margin-left: 10px;
    margin-right: 10px;
}

/* .OrderShelfContainer > div {
    background-color: white;
} */

.OrderShelf {
    background-color: white;
}
